@media screen and (max-width: 1050px) {

    /* For smaller resolutions we set the sidebar to be absolute so it will overlap the views content */
    #sidebar {
        width: calc(20vw + 10vh) !important;
        position: absolute !important;
    }

    .sidebar-shrink {
        /* transform: translateX(calc(-100% - 10px)); */
        margin-left: calc(-20vw - 10vh) !important;
    }
}

.list-button {
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.list-button svg {
    height: 35px;
}

.sidebar-shrink {
    /* transform: translateX(calc(-100% - 10px)); */
    margin-left: -18vw;
}

#sidebar {
    position: relative;
    width: 18vw;
    height: 100%;
    /* min-width: 100px;
    max-width: 400px; */

    background-color: var(--white-basic-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    clip-path: inset(0px -10px 0px 0px);

    overflow-y: auto;
    overflow-x: hidden;
    transition: all .3s ease;

    z-index: 999;
}

#sidebar-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.sidebar-item {}

.logo {
    align-self: center;
    padding: 20px;
}

.logo img {
    width: 100%;
    cursor: pointer;
}

.nav {
    letter-spacing: .1rem;
    padding: 0 !important;
    flex-basis: 100%;
}

#sidebar-nav {
    display: flex;
    flex-direction: column;
}

.sidebar-link-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.sidebar-link-div a {
    text-transform: uppercase;
    padding: 2vh 0 2vh 0;
    margin: 0 10px 0 10px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--black-basic-color) !important;
    hyphens: auto;
}

.sidebar-link-div a strong {
    hyphens: inherit;
}

.sidebar-link-div[active] .sidebar-link-hover-div {
    transform: translateX(0);
}

.sidebar-link-div:hover .sidebar-link-hover-div {
    transform: translateX(0);
}

.sidebar-link-div:hover a {
    color: var(--green-basic-color);
}

.sidebar-link-hover-div {
    min-width: 5%;
    margin: 0.2rem 0 0.2rem 0;
    background-color: var(--green-basic-color);
    transform: translateX(-100%);
    transition: all .15s ease;
    border-radius: 0 .3rem .3rem 0;
}








.header-extended {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    clip-path: inset(0px 0px -10px 0px);
    transition: all .3s ease !important;
    background-color: var(--white-basic-color) !important;
}

#header {
    background-color: transparent;
    height: calc(2.5vw + 2.5vh);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    padding: 20px 3% 20px 3%;

    transition-delay: .3s !important;
    transition: none;
    overflow: hidden;

    z-index: 999;
}

.header-logo-visible {
    opacity: 1 !important;
    visibility: visible !important;
    transition: all .3s ease !important;
}

#header-logo {
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition-delay: .3s !important;
    transition: none;
    height: 90%;
}

#header-logo img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    max-height: 100%;
}

#sidebar-toggle-btn {
    position: relative;
    margin-left: auto;
    margin-right: .5rem;
    height: 90%;
    aspect-ratio: 1;
    color: var(--white-basic-color);
}

#sidebar-toggle-btn.dark svg {
    color: var(--black-basic-color);
}

#sidebar-toggle-btn:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#sidebar-toggle-btn.dark:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#sidebar-toggle-btn svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
}

/* Social media buttons etc. floaters */
.social-media-container {
    height: fit-content;
    min-width: min-content;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin: 10px 0 10px 0;
}

.social-media-icon {
    position: relative;
    padding: 7px;
    margin-left: 5%;
    height: calc(1vw + 1vh);
    aspect-ratio: 1;
    border-radius: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    overflow: hidden;
    min-height: fit-content;
    min-width: fit-content;
}

#contact-whatsapp-span {
    background-color: #00d25c;
}

#contact-whatsapp-span a img {
    animation: revert-wiggle .4s ease;
}

#contact-whatsapp-span:hover a img {
    animation: rotate-wiggle .4s ease;
}

#contact-email-span a img {
    animation: revert-wiggle .4s ease;
}

#contact-email-span:hover a img {
    animation: rotate-wiggle .4s ease;
}

#contact-email-span {
    background-color: #0075c8;
}

#contact-facebook-span {
    background-color: #039be5;
}

#contact-facebook-span img {
    transition: all .1s linear;
    animation: none;
}

.social-media-icon a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
}

.social-media-icon img {
    height: 100%;
    width: 100%;
}

#contact-whatsapp-span a {
    height: 70%;
}

#contact-facebook-span a {
    height: 120%;
}

#contact-email-span a {
    height: 65%;
}