@media screen and (max-width: 768px) {
    .social-media-container {
        padding: .5rem !important;
        gap: .5rem !important;
    }

    .social-media-icon {
        height: 35px !important;
        width: 35px !important;
    }
}

@keyframes rotate-wiggle {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-20deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

* {
    margin: 0;
    transition: all .3s ease;
}

html {
    --black-basic-color: #111111;
    --white-basic-color: #fff;
    --green-basic-color: #0b5721;
    --min-width-page: 250px;
}

body {
    font-size: clamp(1.0em, 1.0vw, 1.5em);
    background-color: var(--white-basic-color);
    font-family: "Roboto Regular";
    color: var(--white-basic-color);

    overflow: hidden;
}

main {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    height: 100vh;
    height: 100svh;
    height: -webkit-fill-available;
    min-width: var(--min-width-page);
}

a {
    text-decoration: none;
    color: var(--black-basic-color);
}

em {
    line-height: .5;
}

#content-container {
    width: 100%;
    height: 100%;

    overflow: auto;
}

.view-title {
    font-size: calc(20px + 1.5vw);

    overflow: hidden;
    text-overflow: ellipsis;
}

.text-content {
    width: 70%;
    margin: auto;
    padding-top: 1rem;
    text-align: center;
    line-height: 1.5;
    color: var(--black-basic-color);

    overflow: hidden;
    text-overflow: ellipsis;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#contact-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    padding: 10px;

    font-size: small;
    background-color: var(--green-basic-color);
}

.social-media-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: center;
    align-items: center;

    padding: 1.0rem;
    gap: 1.0rem;
}

.social-media-icon {
    position: relative;
    padding: 7px;
    height: 40px;
    width: 40px;

    border-radius: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
}

#contact-whatsapp-span {
    background-color: #00d25c;
}

#contact-email-span {
    background-color: #0075c8;
}

#contact-email-span a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1;
}

.social-media-icon img {
    height: 100%;
    width: 100%;
}

#contact-email-span a {
    height: 65% !important;
}

.social-media-icon:hover img {
    animation: rotate-wiggle .4s ease;
    animation-delay: .2s;
}

.social-media-icon:hover {
    transform: scale(1.1);
}