@media screen and (max-width: 1300px) {
    .social-media-icon {
        height: 25px !important;
        width: 25px !important;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.75) !important;
    }
}

@keyframes rotate-wiggle {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-20deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

* {
    margin: 0;
    transition: all .3s ease;
}

html {
    --black-basic-color: #111111;
    --white-basic-color: #fff;
    --green-basic-color: #0b5721;
    --min-width-page: 250px;
    font-size: clamp(1.0em, 1.0vw, 1.5em);
}

body {
    background-color: var(--white-basic-color);
    font-family: "Roboto Regular";
    color: var(--white-basic-color);

    overflow: hidden;
}

main {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    height: 100vh;
    height: 100svh;
    min-width: var(--min-width-page);
}

a {
    text-decoration: none;
    color: var(--black-basic-color);
}

em {
    line-height: .5;
}

.view-main-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.faded-text {
    color: rgba(0, 0, 0, .6);
}

.smallest-text {
    font-size: calc(10px + .1vw) !important;
}

.small-text {
    font-size: calc(10px + .3vw) !important;
}

.medium-text {
    font-size: calc(10px + .5vw) !important;
}

.large-text {
    font-size: calc(10px + .7vw) !important;
}

.background-img-top {
    position: relative;
    background: url("/media/images/green-tree-snake-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25%;
    min-height: 20%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    z-index: -1;
}

.background-img-top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(10px) brightness(60%);
    transform: scale(1.2);

    z-index: -1;
}

.background-img-top .text-content {
    color: var(--white-basic-color);
    padding: 0;
    text-shadow: rgba(0, 0, 0, 1.0) 0 0 5px;
}

.view-title {
    font-size: calc(20px + 1.5vw);

    overflow: hidden;
    text-overflow: ellipsis;
}

.container-vertical {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.cards-container {
    color: var(--black-basic-color);
    width: 80% !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card {
    position: relative;
    background-color: red;
    border-radius: 20px;
    width: clamp(180px, 25%, 350px);
    aspect-ratio: 1.2;
    cursor: pointer;
    overflow: hidden;
}

.card img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.1);
}

.card:hover img {
    transform: scale(1.0);
    filter: brightness(30%);
}

.card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-basic-color);
    opacity: 0;
    width: 90%;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: calc(15px + .7vw);
}

.card:hover .card-title {
    opacity: 1;
}

.card-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.view-article {
    position: relative;
}

.text-content {
    width: 70%;
    margin: auto;
    padding: 2rem 0 2rem 0;
    text-align: center;
    line-height: 1.5;
    color: var(--black-basic-color);

    overflow: hidden;
    text-overflow: ellipsis;
}

.list {
    text-align: left;
    line-height: 2.0;
    margin-left: -40px;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: var(--min-width-page);
    display: flex;
    flex-direction: column;
}

#contact-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    padding: 10px;

    font-size: small;
    background-color: var(--green-basic-color);
}

.social-media-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: space-evenly;
    align-items: center;

    width: 16.7%; /* This is exactly the width of the sidebar */
    min-width: 150px;
    max-width: 400px;
    padding-bottom: 10px;
}

.social-media-icon {
    position: relative;
    padding: 7px;
    height: 40px;
    width: 40px;

    border-radius: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
}

#contact-whatsapp-span {
    background-color: #00d25c;
}

#contact-email-span {
    background-color: #0075c8;
}

#contact-facebook-span {
    background-color: #039be5;
}

#contact-facebook-span img {
    animation: none;
}

#contact-facebook-span a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120%;
    aspect-ratio: 1;
}

/* #contact-email-span img {
    animation: none;
} */

#contact-email-span a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1;
}

.social-media-icon img {
    height: 100%;
    width: 100%;
}

#contact-email-span a {
    height: 65% !important;
}

.social-media-icon:hover img {
    animation: rotate-wiggle .4s ease;
    animation-delay: .2s;
}

.social-media-icon:hover {
    transform: scale(1.1);
}