@media screen and (max-width: 1050px) {
    #content-container {
        position: absolute !important;
        width: 100% !important;
        margin: 0 !important;
    }
}

@keyframes rotate-wiggle {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-20deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes revert-wiggle {
    100% {
        transform: rotate(0deg);
    }
}

* {
    margin: 0;
    transition: all .3s ease;
    hyphens: auto;
}

html {
    --black-basic-color: #111111;
    --white-basic-color: #fff;
    --green-basic-color: #0b5721;
    --min-width-page: 250px;
}

body {
    background-color: var(--white-basic-color);
    font-family: "Roboto Regular";
    color: var(--white-basic-color);

    height: 100vh;
    height: 100svh;
    min-width: var(--min-width-page);
    overflow: hidden;
}

main {
    width: 100%;
    height: 100%;
}

.wiggle {
    animation: revert-wiggle .4s ease;
}

.wiggle:hover {
    animation: rotate-wiggle .4s ease;
}

.scale:hover {
    transform: scale(1.2);
}

a {
    text-decoration: none;
    color: var(--green-basic-color);
    /* Poistettu !important, koska se overridaa tuotteet.html sivulla olevan värin */
}

ul {
    line-height: 2.0;
    text-align: left;
}

.separator-line {
    width: 90%;
    margin: 40px auto 40px auto;
    border: 2px solid #d4d4d4;
    border-radius: 5px;
}

.spacing {
    padding: 32px 0 32px 0 !important;
}

.spacing-bottom {
    padding-bottom: 32px !important;
}

.spacing-top {
    padding-top: 32px !important;
}

.scroll-element {
    overflow-x: auto;
    overflow-y: auto;
}

.pos-absolute {
    position: absolute !important;
}

.pos-relative {
    position: relative !important;
}

.faded-text {
    color: rgba(0, 0, 0, .6);
}

.smallest-text {
    font-size: calc(0.125rem + .4vw + .4vh) !important;
}

.small-text {
    font-size: calc(0.25rem + .45vw + .45vh) !important;
}

.medium-text {
    font-size: calc(0.375rem + .5vw + .5vh) !important;
}

.large-text {
    font-size: calc(0.5rem + .55vw + .55vh) !important;
}

.flex-vertical {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.flex-horizontal {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.background-img-top {
    position: relative;
    /* position: sticky;
    top: 0; */
    height: 15vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    z-index: 1;
}

.background-img-top img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.3);
    filter: blur(calc(.23vh + .23vw)) brightness(80%);
}

.background-img-top .text-content {
    color: var(--white-basic-color);
    padding: 0;
    text-shadow: rgba(0, 0, 0, 1.0) 0 0 5px;
    z-index: 0;
}

.view-title {
    font-size: calc(2vw + 2vh);
    letter-spacing: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.cards-container {
    color: var(--black-basic-color);
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card {
    position: relative;
    background-color: transparent;
    border-radius: 20px;
    width: clamp(150px, 19%, 500px);
    aspect-ratio: 5/4;
    cursor: pointer;
    overflow: hidden;
}

.card img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.0);
    filter: brightness(70%);
}

.card:hover img {
    transform: scale(1.05);
    filter: brightness(50%);
}

.card:hover .card-navigate-text {
    transform: translateX(0%);
    margin-left: 20px;
}

.card:hover .card-title {
    transform: translateY(calc(-20px - .7vw));
}

.card-text {
    text-align: left;
    color: var(--white-basic-color);
    text-overflow: ellipsis;
}

.card-title {
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 85%;
    bottom: 0;
    font-weight: bold;
    overflow: hidden;
    line-height: 1.2;
    margin: 0 0 10px 20px;
    font-size: calc(10px + .7vw);
    transition: all .2s ease;
}

.card-navigate-text {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: calc(5px + .7vw);
    transform: translateX(-100%);
    margin-bottom: 15px;
    transition: all .2s ease;
}

.card-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.view-article {
    position: relative;
}

#content-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.content-filter-visible {
    opacity: 1 !important;
    z-index: 10 !important;
}

#content-filter {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0;
    backdrop-filter: brightness(50%);
    /* No fallback value but it's fine, all browsers should now support this*/
}

.text-content {
    width: 70%;
    margin: auto;
    text-align: center;
    line-height: 1.5;
    color: var(--black-basic-color);

    overflow: hidden;
    text-overflow: ellipsis;
}

.list {
    text-align: left;
    line-height: 2.0;
    margin-left: -40px;
}

#content-besides-footer {
    overflow: hidden;
}

#content-below-header {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

#footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: fit-content;
    min-width: var(--min-width-page);
    display: flex;
    flex-direction: column;

    z-index: 999;
}

#contact-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    padding: 10px;

    font-size: small;
    background-color: var(--green-basic-color);
}

/* Table stuff */
.tables-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.tables-container .table-div:nth-child(1) {
    /* margin-top: 0 !important; */
}

.table-div {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 50%;
    width: 80%;
    align-items: center;
    margin: auto;
}

.table-div> :last-child {
    margin-top: 5px;
    align-self: flex-start;
}

.table-attachments {
    position: relative;
    justify-content: space-between;
}

.table-attachments>* {
    width: 100%;
}

.table-attachments input {
    outline: none;
    text-decoration: none;
    width: 40%;
    margin: 0 10px 0 0;
    border: 2px solid #dddddd;
    border-radius: 5px;
}

.table-attachments .table-info {
    margin: 20px 0 0 15px;
    align-self: flex-start;
    color: var(--black-basic-color);
    width: 30%;
}

.table-header-and-content {
    max-width: 100%;
}

.table-content {
    max-height: 45vh;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.table-header {
    color: var(--white-basic-color);
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    /* position: sticky;
    top: 0; */
    border-radius: 15px 15px 0 0;
    background-color: var(--green-basic-color);
}

.table-header>* {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
    padding: 15px;
}

.table-header strong:last-child {
    margin-right: 10px;
    /* Width of the scrollbar, 8px in every other browser except 10px in Safari */
}

.table {
    position: relative;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    z-index: 0;
}

.wide-column {
    width: 90% !important;
}

.table td {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 15px;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    width: 50%;
}

.table tr:nth-child(even) {
    background-color: #f4f4f4;
    color: var(--green-basic-color);
}

/* Products stuff */
#product-categories-outer {
    display: flex;
    margin: auto;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 45vw;
    background-color: var(--green-basic-color);
    min-width: 100%;
    background: linear-gradient(to left, rgba(11, 87, 33, 0) 0%, var(--green-basic-color) 10%, var(--green-basic-color) 90%, rgba(11, 87, 33, 0) 100%);
}

#product-categories-inner {
    display: flex;
    margin: auto;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: #00742c var(--green-basic-color);
    width: 80%;
}

.product-category {
    margin: 15px auto 15px auto;
    text-wrap: nowrap;
    padding-left: 10px;
    padding-right: 10px;
}

.product-category>h5:hover {
    text-decoration: underline;
    cursor: pointer;

}

.product-category>h5>a {
    color: white;
}

.products-div {
    color: var(--black-basic-color);
    width: 70%;
    margin: auto;
}

.products {
    text-align: left;
    max-height: 55vh;
    overflow: auto;
    scrollbar-width: thin;
}

.products h3 {
    color: white;
    background-color: #FAA916;
    text-align: center;
}

.products ul>li:nth-child(odd) {
    background-color: var(--green-basic-color);
    color: var(--white-basic-color);
}

#services-container {
    overflow: visible !important;
}

#services-container>ul {
    width: 100%;
    padding: 0;
}

.service-title {
    line-height: 1.5;
    margin-bottom: 16px;
}