#table-div{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  #table-content{
    width: clamp(100px, 90%, 900px);
  height: 50vh;
  overflow-y: scroll;
  overflow-x: scroll;
}

#table-info{
  color: var(--black-basic-color);
}
  
  table {
    width: 100%;
    font-family: arial, sans-serif;
    color: black;
    border-collapse: collapse;
    table-layout: fixed;
  }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      font-size: calc(0.8rem + 0.5vw);
  }
 
 thead{
    position: sticky;
    top: 0px;
 } 

 th{
    background-color: var(--white-basic-color);
 } 
    
    tr:nth-child(even) {
      background-color: var(--green-basic-color);
      color: var(--white-basic-color);
  }