@media screen and (max-width: 1200px) {
    #info-maps-container {
        flex-direction: column !important;
        align-items: center;
        text-align: center !important;
    }

    #info-maps-container > * {
        margin: 10px 0 10px 0 !important;
    }

    #maps-div {
        width: 80% !important;
    }
}

#info-maps-container {
    width: 90%;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: no-wrap;
    text-align: left;
    color: var(--black-basic-color);
}

#info-maps-container > * {
    margin: 0 10px 0 10px;
}

#maps-div {
    width: 40vw;
    min-width: 180px;
    aspect-ratio: 2/1;
    border-radius: 1rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5) !important;
    margin-top: 8px !important;
}

#maps-frame {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
}